.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide2.jpg);
    height: 50vh;
    padding: 30px 30px;
    background-attachment: fixed;

}
h2{
    width: 150px !important;
    border-radius: 80px !important;
    background-color: rgba(73, 73, 73, 0.9);
    opacity: .5;
    color: #fff !important;
}
.background p{
    font-size: 1.5rem;
}
.background h2 a{
    text-decoration: none;
    color: #fff !important;
    
}
ul li a{
    color: #fff !important;
    display: inline-block !important;
    text-decoration: none !important;
    
}
li{
    list-style: none !important;
}
.card-body h5{
    font-size: 2rem !important;
    margin-top: -90px !important;

}

.form p{
    font-size: 3rem !important;
    line-height: 50px !important;
}
.form h4{
    color: gray !important;
    font-size: 1.5rem !important;
}
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a:hover {
    color: orangered !important;
}
.container-fluid {
    background-color: rgba(73, 73, 73, .5) !important;
    color: #fff !important;
}
input[type="text"]{
    height: 50px;
    width: 100% !important;
    background-color: whitesmoke !important;
}
image input[name ="text"]{
    width: 10rem !important;
}