.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide2.jpg) !important;
    height: 50vh;
    padding: 30px 30px;
    background-attachment: fixed !important;
    border-bottom: 5px solid rgb(35, 189, 240) !important;
}
.background h2{
    width: 250px !important;
    border-radius: 80px !important;
    background-color: rgba(73, 73, 73, 0.9);
    opacity: .5;
    color: #fff !important; 
}
.background h2 a{
    text-decoration: none;
    color: #fff !important;
    
}

a:hover {
    color: orangered !important;
}

.container-fluid {
    background-color: rgba(73, 73, 73, .5) !important;
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    font-weight: bold !important;
}

.card {
    border-top: 5px solid blue !important;
    color: rgb(51, 48, 48);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card:hover{
    background-color:  blue !important;
    border-top: 5px solid blue !important;
    color: #fff;
    background-color: #fff;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;

}

ul li a {
    color: #fff !important;
    display: inline-block !important;
    text-decoration: none !important;

}

li {
    list-style: none !important;
}

a:hover {
    color: orangered !important;
}

.text-center button {
    border-top: 2px solid blue !important;
    margin-top: 10px !important;
    border: 1px solid #000 !important;
    background-color: #fff;
    padding: 10px 40px !important;
    font-size: 15px !important;
    border-radius: 30px !important;
}

.text-center button:hover {
    color: #fff !important;
    margin-top: 10px !important;
    border: 1px solid #000 !important;
    background-color: orangered;
    padding: 10px 40px !important;
    font-size: 15px !important;
    border-radius: 30px !important;
    box-shadow: 2px 2px 7px black;
}

