.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide2.jpg) !important;
    height: 50vh;
    padding: 30px 30px;
    background-attachment: fixed !important;
    border-bottom: 5px solid rgb(35, 189, 240) !important;
}
.background h2{
    width: 200px !important;
    border-radius: 80px !important;
    background-color: rgba(73, 73, 73, 0.9);
    opacity: .5;
    color: #fff !important; 
}
.background h2 a{
    text-decoration: none;
    color: #fff !important;
    
}
a:hover {
    color: orangered !important;
}

.sidebar-service ul li a {
    display: inline-block !important;
    color: #fff !important;
    text-decoration: none !important;
    padding: 15px 35px !important;
}

.sidebar-service li a {
    color: #fff !important;
    text-decoration: none !important;
}

.sidebar-service li {
    list-style: none !important;
}

.sidebar-service .active {
    position: relative;
   background-color: rgb(105, 188, 216) !important;
}

.sidebar-service .active::after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 7px;
    background-color: orangered;
    position: absolute !important;

}

.sidebar-service li:hover {
    background-color: lightblue !important;
    cursor: pointer;
}

.sidebar button {
    margin-top: 10px !important;
    border: 2px solid blue !important;
    background-color: #fff;
    padding: 7px 20px !important;
    font-size: 15px !important;
}

.sidebar button:hover {
    color: #fff !important;
    margin-top: 10px !important;
    border: 2px solid blue !important;
    background-color: blue !important;
    padding: 7px 20px !important;
    font-size: 15px !important;
    cursor: pointer;
}

img .img-fluid{
    height: 10rem !important;
    transition: 3s ease-in-out !important;
    cursor: pointer !important;
}
.footer ul li a{
    color: #fff !important;
    display: inline-block !important;
    text-decoration: none !important;
    
}
.footer li{
    list-style: none !important;
}
.container-fluid {
    background-color: rgba(73, 73, 73, .5) !important;
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    font-weight: bold !important;
}
ul li a{
    color: #fff !important;
    display: inline-block !important;
    text-decoration: none !important;
    
}
li{
    list-style: none !important;
}
.footer a:hover{
    color: orangered !important;
}